[project]
name = "gameplan"
authors = [
  { name = "Frappe Technologies Pvt Ltd", email = "developers@frappe.io" },
]
description = "Team discussion and collaboration tool"
requires-python = ">=3.10"
readme = "README.md"
dynamic = ["version"]
dependencies = ["rembg>=2.0.49,<2.1", "numpy==1.26.1", "onnxruntime==1.16.2"]

[build-system]
requires = ["flit_core >=3.4,<4"]
build-backend = "flit_core.buildapi"

[tool.black]
line-length = 99

[tool.isort]
line_length = 99
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
indent = "\t"
